*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
:root {
    --main-color:#FFB90F ;
    --black:#13131a;
    --bg:#010103;
    --border: .10px soid rgba(255, 255, 255, .3);
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span {
    color:var(--main-color) ;

}
.about .row {
  display: flex;
  align-items: center;
  background:var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem; 
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 4.5rem;
  background: #13131a;
}
.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
  background: #13131a;
}
.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
  background: #13131a;
}
.about .row .content a {
  text-decoration: none;
  border: 2px solid #fff;
  font-size: 1.6rem;
  padding: 8px;
  background: var(--main-color);
  color: #010103;
}